<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="NativeDlls" type="ElCommon.Util.NativeNameValueSectionHandle,Util" />
  </configSections>

  <log4net>
    <appender name="logfile" type="log4net.Appender.RollingFileAppender">
      <file value=".\logfile\log" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <rollingStyle value="Composite" />
      <StaticLogFileName value="false" />
      <datePattern value="yyyyMMdd&quot;.txt&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-20date{MM-dd HH:mm:ss,fff} %level %thread - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="logfile" />
    </root>
    <!--<logger name="exlog" additivity="true">
      <level value="ALL" />
      <appender-ref ref="logfile"/>
    </logger>-->
  </log4net>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    <supportedRuntime version="v2.0.50727" />
    <requiredRuntime version="v4.0.30319" />
  </startup>

  <NativeDlls>
    <Native name="MSVCP120_dll" path="MSVCP120.dll"></Native>
    <Native name="PCOMM_dll" path="PCOMM.dll"></Native>
  </NativeDlls>

</configuration>
